nav {
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
    padding: 10px;
    z-index: 50;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bar_icon {
    font-size: 32px;
  }
  